# Shell defaults
alias lls='ls -ALHO -lh'
alias top='top -a -o cpu'

# Shortcuts
alias e='subl . &'
alias myip="curl ifconfig.me/ip"
alias tcpdump="tcpdump -i en1 -s 0 -n -e -x -vvv"
alias showallfiles="defaults write com.apple.Finder AppleShowAllFiles TRUE"
alias hidefiles="defaults write com.apple.Finder AppleShowAllFiles FALSE"
alias truecrypt='/Applications/TrueCrypt.app/Contents/MacOS/Truecrypt --text'
alias update='brew update; brew upgrade; brew doctor;'
alias cleanopenwith='/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user;killall Finder;'
